body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif
}

.image {
    width: 640px;
    height: 360px;
    flex-shrink: 0;
}

.i2,
.i3,
.i4,
.i5 {
    width: 320px;
    height: 320px;
    border-style: solid;
    border-width: thick;
    border-color: #3882f6;
    border-radius: 16px;
}

.i1 {
    background-image: url("./images/connor-jolley-Y6I4VvyN_sA-unsplash.jpg");
    background-size: cover;
    margin: 2rem;
}

.i2 {
    background-image: url("./images/sergey-shmidt-koy6FlCCy5s-unsplash.jpg");
    background-size: cover;
}

.i3 {
    background-image: url("./images/sheng-l-q2dUSl9S4Xg-unsplash.jpg");
    background-size: cover;
}

.i4 {
    background-image: url("./images/tim-foster-o4mP43oPGHk-unsplash.jpg");
    background-size: cover;
}

.i5 {
    background-image: url("./images/wil-stewart-pHANr-CpbYM-unsplash.jpg");
    background-size: cover;
}

.header,
.section-1,
.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    color: #1F2937;
    text-decoration: none;
}

.header a,
.section-1 a,
.footer a {
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8rem;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem 8rem;
}

.section-1 .text {
    margin-right: 2rem;
    width: 25%;
    flex-grow: 1;
}

.section-1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding: 0 8rem;
}

.section-2 h2 {
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    font-size: 18px;
}

.section-3 {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 2rem 8rem;
}

.section-3 p {
    font-style: italic;
    font-weight: lighter;
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem;
}

.section-4 .banner {
    background-color: #3882f6;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border-style: solid;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    border-style: none;
    color: #F9FAF8;
    font-size: 18px;
}

.banner button {
    border-style: solid;
    border-color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}